/* GENERALES */

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 5rem;
}

h2, h3, h4, h5, p, a{
    font-family: 'Mulish', sans-serif;
    font-size: 1.15rem;
}

/* HEADER */
.header{
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header__nav{
    background-color: #9c89b8;
    opacity: 0.9;
    background: radial-gradient(circle, transparent 20%, #9c89b8 20%, #9c89b8 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #9c89b8 20%, #9c89b8 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#f0a6ca 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #f0a6ca 1.4000000000000001px, #9c89b8 1.4000000000000001px) -0.7000000000000001px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;

}

.header__nav__a{
    color: #f0e6ef;
}

.header__nav__li{
    background-color: #9c89b8;
    border-radius: 2rem;
}

.header__nav__li:hover{
    background-color: #f0e6ef;
    transform: rotate(45);
    transition: 2s;
}

/* MAIN - INDEX */

.main__titulos{
    color: #9c89b8;
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
}

.mainIndex{
    height: 85vh;
}

.main__img{
    width: 100vw;
}

.botonLink{
    background-color: #f0e6ef;
    border-radius: 2rem;
}

.botonLink:hover{
    background-color: #efc3e6;
    transition: 1s;
}

.conoceme{
    background-color: #b8bedd;
    opacity: 0.9; 
    background: repeating-linear-gradient( -45deg, #9c89b8, #9c89b8 19px, #b8bedd 19px, #b8bedd 95px );
}

.conoceme__titulos{
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
}

.conoceme__p{
    font-size: 1.25rem;
    width: 90%;
}

.conoceme__img{
    border-radius: 5rem;
}

.botonForm{
    background-color: #f0e6ef;
    border-radius: 2rem;
}

.botonForm:hover{
    background-color: #efc3e6;
    transition: 1s;
}

/*  !!CLASES.HTML!!  */

.tittle__clases{
    color: #9C89B8;
}

.calendario__eventos{
    background-color: #F0E6EF;
}

/* GALERIA */
.gallery {
    padding: 0 0 4rem 0;
  }
  
  .img-container {
    width: 100%;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
    &:hover .img-content-hover {
      display: block;
    }
  }
  
  .img__galeria {
      width: 100%;
    height: 500px;
      object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

  /***************************************************************************************************************************/
/*  TIENDA.HTML  */
.add__nav__tienda{
    background-color: white;
}


/* FOOTER */

.footer{
    background-color: #9c89b8;
}

.footer__h3{
    color: #f0e6ef;
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
}

.footer__h{
    color: #f0e6ef;
    font-size: 1.1rem;
}

.footer__redes:hover{
    transform: scale(1.15,1.15);
    transition: 1s;
}


/* MEDIAQUERYS */

@media screen and (max-width:768px){
    .main_cards{
        margin-bottom: 10px;
    }
    .img_barras{
        margin-bottom: 30px;
    }
    .header__nav__a{
        margin: 0 10px;
    }
}